PurchaseDocJE-AP_AR/Web References/AP_AR_Components/AP_ARComponents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AP_ARComponents" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd1" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd2" namespace="urn:Microarea.Web.Services.ReqForPymtMaxLevel" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd4" namespace="urn:Microarea.Web.Services.RequestForPaymentFile" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd5" namespace="urn:Microarea.Web.Services.RequestForPaymentCustUpdate" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd6" namespace="urn:Microarea.Web.Services.InstallmentDetails_Create" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd7" namespace="urn:Microarea.Web.Services.InstallmentDetails_Dispose" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd8" namespace="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd9" namespace="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_Create" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd10" namespace="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_Dispose" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd11" namespace="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd12" namespace="urn:Microarea.Web.Services.SplitVAT_Create" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd13" namespace="urn:Microarea.Web.Services.SplitVAT_Dispose" />
      <xsd:import schemaLocation="http://usr-rinaldiand:10050/ERP.AP_AR.Components?xsd=xsd14" namespace="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReqForPymtMaxLevelIn" />
  <wsdl:message name="ReqForPymtMaxLevelIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ReqForPymtMaxLevelOut">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.ReqForPymtMaxLevel" name="return" element="q1:return" />
  </wsdl:message>
  <wsdl:message name="ReqForPymtMaxLevelOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_ReqForPymtMaxLevel_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q2:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentFileIn">
    <wsdl:part xmlns:q3="urn:Microarea.Web.Services.RequestForPaymentFile" name="lastLevelNo" element="q3:lastLevelNo" />
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.RequestForPaymentFile" name="openingText" element="q4:openingText" />
    <wsdl:part xmlns:q5="urn:Microarea.Web.Services.RequestForPaymentFile" name="closingText" element="q5:closingText" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentFileIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentFileOut">
    <wsdl:part xmlns:q6="urn:Microarea.Web.Services.RequestForPaymentFile" name="return" element="q6:return" />
    <wsdl:part xmlns:q7="urn:Microarea.Web.Services.RequestForPaymentFile" name="openingText" element="q7:openingText" />
    <wsdl:part xmlns:q8="urn:Microarea.Web.Services.RequestForPaymentFile" name="closingText" element="q8:closingText" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentFileOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_RequestForPaymentFile_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q9:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentCustUpdateIn">
    <wsdl:part xmlns:q10="urn:Microarea.Web.Services.RequestForPaymentCustUpdate" name="customer" element="q10:customer" />
    <wsdl:part xmlns:q11="urn:Microarea.Web.Services.RequestForPaymentCustUpdate" name="dueDate" element="q11:dueDate" />
    <wsdl:part xmlns:q12="urn:Microarea.Web.Services.RequestForPaymentCustUpdate" name="printDate" element="q12:printDate" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentCustUpdateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentCustUpdateOut">
    <wsdl:part xmlns:q13="urn:Microarea.Web.Services.RequestForPaymentCustUpdate" name="return" element="q13:return" />
  </wsdl:message>
  <wsdl:message name="RequestForPaymentCustUpdateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_RequestForPaymentCustUpdate_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q14:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CreateIn" />
  <wsdl:message name="InstallmentDetails_CreateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CreateOut">
    <wsdl:part xmlns:q15="urn:Microarea.Web.Services.InstallmentDetails_Create" name="return" element="q15:return" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CreateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_InstallmentDetails_Create_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q16:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_DisposeIn">
    <wsdl:part xmlns:q17="urn:Microarea.Web.Services.InstallmentDetails_Dispose" name="handle" element="q17:handle" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_DisposeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_DisposeOut">
    <wsdl:part xmlns:q18="urn:Microarea.Web.Services.InstallmentDetails_Dispose" name="return" element="q18:return" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_DisposeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_InstallmentDetails_Dispose_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q19:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CalculateInstallmentDataIn">
    <wsdl:part xmlns:q20="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="handle" element="q20:handle" />
    <wsdl:part xmlns:q21="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="PymtCode" element="q21:PymtCode" />
    <wsdl:part xmlns:q22="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="Currency" element="q22:Currency" />
    <wsdl:part xmlns:q23="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="FromDate" element="q23:FromDate" />
    <wsdl:part xmlns:q24="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="Total" element="q24:Total" />
    <wsdl:part xmlns:q25="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="TaxTotal" element="q25:TaxTotal" />
    <wsdl:part xmlns:q26="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentNo" element="q26:InstallmentNo" />
    <wsdl:part xmlns:q27="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentDate" element="q27:InstallmentDate" />
    <wsdl:part xmlns:q28="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentPaymentType" element="q28:InstallmentPaymentType" />
    <wsdl:part xmlns:q29="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentAmount" element="q29:InstallmentAmount" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CalculateInstallmentDataIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CalculateInstallmentDataOut">
    <wsdl:part xmlns:q30="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="return" element="q30:return" />
    <wsdl:part xmlns:q31="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentNo" element="q31:InstallmentNo" />
    <wsdl:part xmlns:q32="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentDate" element="q32:InstallmentDate" />
    <wsdl:part xmlns:q33="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentPaymentType" element="q33:InstallmentPaymentType" />
    <wsdl:part xmlns:q34="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" name="InstallmentAmount" element="q34:InstallmentAmount" />
  </wsdl:message>
  <wsdl:message name="InstallmentDetails_CalculateInstallmentDataOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_InstallmentDetails_CalculateInstallmentData_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q35:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CreateIn" />
  <wsdl:message name="CalcWithholdingTaxBalance_CreateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CreateOut">
    <wsdl:part xmlns:q36="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_Create" name="return" element="q36:return" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CreateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_CalcWithholdingTaxBalance_Create_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q37:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_DisposeIn">
    <wsdl:part xmlns:q38="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_Dispose" name="handle" element="q38:handle" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_DisposeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_DisposeOut">
    <wsdl:part xmlns:q39="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_Dispose" name="return" element="q39:return" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_DisposeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_CalcWithholdingTaxBalance_Dispose_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q40:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceIn">
    <wsdl:part xmlns:q41="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="handle" element="q41:handle" />
    <wsdl:part xmlns:q42="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="aPymtSchedId" element="q42:aPymtSchedId" />
    <wsdl:part xmlns:q43="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="aBalance" element="q43:aBalance" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceOut">
    <wsdl:part xmlns:q44="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="return" element="q44:return" />
    <wsdl:part xmlns:q45="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="aPymtSchedId" element="q45:aPymtSchedId" />
    <wsdl:part xmlns:q46="urn:Microarea.Web.Services.CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="aBalance" element="q46:aBalance" />
  </wsdl:message>
  <wsdl:message name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q47="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q47:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_CreateIn" />
  <wsdl:message name="SplitVAT_CreateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_CreateOut">
    <wsdl:part xmlns:q48="urn:Microarea.Web.Services.SplitVAT_Create" name="return" element="q48:return" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_CreateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_SplitVAT_Create_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q49="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q49:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_DisposeIn">
    <wsdl:part xmlns:q50="urn:Microarea.Web.Services.SplitVAT_Dispose" name="handle" element="q50:handle" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_DisposeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_DisposeOut">
    <wsdl:part xmlns:q51="urn:Microarea.Web.Services.SplitVAT_Dispose" name="return" element="q51:return" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_DisposeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_SplitVAT_Dispose_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q52="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q52:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_VATDescendingRateIn">
    <wsdl:part xmlns:q53="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" name="handle" element="q53:handle" />
    <wsdl:part xmlns:q54="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" name="aPymtSchedId" element="q54:aPymtSchedId" />
    <wsdl:part xmlns:q55="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" name="aAmount" element="q55:aAmount" />
    <wsdl:part xmlns:q56="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" name="aCollPymtDate" element="q56:aCollPymtDate" />
    <wsdl:part xmlns:q57="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" name="aAmountType" element="q57:aAmountType" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_VATDescendingRateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_VATDescendingRateOut">
    <wsdl:part xmlns:q58="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" name="return" element="q58:return" />
  </wsdl:message>
  <wsdl:message name="SplitVAT_VATDescendingRateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AP_ARComponents_SplitVAT_VATDescendingRate_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q59="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q59:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="AP_ARComponents">
    <wsdl:operation name="ReqForPymtMaxLevel">
      <wsdl:input wsaw:Action="#ReqForPymtMaxLevel" name="ReqForPymtMaxLevelIn" message="tns:ReqForPymtMaxLevelIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/ReqForPymtMaxLevelResponse" name="ReqForPymtMaxLevelOut" message="tns:ReqForPymtMaxLevelOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/ReqForPymtMaxLevelTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_ReqForPymtMaxLevel_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestForPaymentFile">
      <wsdl:input wsaw:Action="#RequestForPaymentFile" name="RequestForPaymentFileIn" message="tns:RequestForPaymentFileIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/RequestForPaymentFileResponse" name="RequestForPaymentFileOut" message="tns:RequestForPaymentFileOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/RequestForPaymentFileTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_RequestForPaymentFile_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestForPaymentCustUpdate">
      <wsdl:input wsaw:Action="#RequestForPaymentCustUpdate" name="RequestForPaymentCustUpdateIn" message="tns:RequestForPaymentCustUpdateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/RequestForPaymentCustUpdateResponse" name="RequestForPaymentCustUpdateOut" message="tns:RequestForPaymentCustUpdateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/RequestForPaymentCustUpdateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_RequestForPaymentCustUpdate_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstallmentDetails_Create">
      <wsdl:input wsaw:Action="#InstallmentDetails_Create" name="InstallmentDetails_CreateIn" message="tns:InstallmentDetails_CreateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/InstallmentDetails_CreateResponse" name="InstallmentDetails_CreateOut" message="tns:InstallmentDetails_CreateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/InstallmentDetails_CreateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_InstallmentDetails_Create_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstallmentDetails_Dispose">
      <wsdl:input wsaw:Action="#InstallmentDetails_Dispose" name="InstallmentDetails_DisposeIn" message="tns:InstallmentDetails_DisposeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/InstallmentDetails_DisposeResponse" name="InstallmentDetails_DisposeOut" message="tns:InstallmentDetails_DisposeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/InstallmentDetails_DisposeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_InstallmentDetails_Dispose_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstallmentDetails_CalculateInstallmentData">
      <wsdl:input wsaw:Action="#InstallmentDetails_CalculateInstallmentData" name="InstallmentDetails_CalculateInstallmentDataIn" message="tns:InstallmentDetails_CalculateInstallmentDataIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/InstallmentDetails_CalculateInstallmentDataResponse" name="InstallmentDetails_CalculateInstallmentDataOut" message="tns:InstallmentDetails_CalculateInstallmentDataOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/InstallmentDetails_CalculateInstallmentDataTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_InstallmentDetails_CalculateInstallmentData_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcWithholdingTaxBalance_Create">
      <wsdl:input wsaw:Action="#CalcWithholdingTaxBalance_Create" name="CalcWithholdingTaxBalance_CreateIn" message="tns:CalcWithholdingTaxBalance_CreateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/CalcWithholdingTaxBalance_CreateResponse" name="CalcWithholdingTaxBalance_CreateOut" message="tns:CalcWithholdingTaxBalance_CreateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/CalcWithholdingTaxBalance_CreateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_CalcWithholdingTaxBalance_Create_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcWithholdingTaxBalance_Dispose">
      <wsdl:input wsaw:Action="#CalcWithholdingTaxBalance_Dispose" name="CalcWithholdingTaxBalance_DisposeIn" message="tns:CalcWithholdingTaxBalance_DisposeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/CalcWithholdingTaxBalance_DisposeResponse" name="CalcWithholdingTaxBalance_DisposeOut" message="tns:CalcWithholdingTaxBalance_DisposeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/CalcWithholdingTaxBalance_DisposeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_CalcWithholdingTaxBalance_Dispose_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance">
      <wsdl:input wsaw:Action="#CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceIn" message="tns:CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceResponse" name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceOut" message="tns:CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitVAT_Create">
      <wsdl:input wsaw:Action="#SplitVAT_Create" name="SplitVAT_CreateIn" message="tns:SplitVAT_CreateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/SplitVAT_CreateResponse" name="SplitVAT_CreateOut" message="tns:SplitVAT_CreateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/SplitVAT_CreateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_SplitVAT_Create_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitVAT_Dispose">
      <wsdl:input wsaw:Action="#SplitVAT_Dispose" name="SplitVAT_DisposeIn" message="tns:SplitVAT_DisposeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/SplitVAT_DisposeResponse" name="SplitVAT_DisposeOut" message="tns:SplitVAT_DisposeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/SplitVAT_DisposeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_SplitVAT_Dispose_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitVAT_VATDescendingRate">
      <wsdl:input wsaw:Action="#SplitVAT_VATDescendingRate" name="SplitVAT_VATDescendingRateIn" message="tns:SplitVAT_VATDescendingRateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/SplitVAT_VATDescendingRateResponse" name="SplitVAT_VATDescendingRateOut" message="tns:SplitVAT_VATDescendingRateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/AP_ARComponents/SplitVAT_VATDescendingRateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:AP_ARComponents_SplitVAT_VATDescendingRate_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AP_ARComponentsSoap" type="tns:AP_ARComponents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReqForPymtMaxLevel">
      <soap:operation soapAction="#ReqForPymtMaxLevel" style="document" />
      <wsdl:input name="ReqForPymtMaxLevelIn">
        <soap:header message="tns:ReqForPymtMaxLevelIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReqForPymtMaxLevelOut">
        <soap:header message="tns:ReqForPymtMaxLevelOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestForPaymentFile">
      <soap:operation soapAction="#RequestForPaymentFile" style="document" />
      <wsdl:input name="RequestForPaymentFileIn">
        <soap:header message="tns:RequestForPaymentFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RequestForPaymentFileOut">
        <soap:header message="tns:RequestForPaymentFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestForPaymentCustUpdate">
      <soap:operation soapAction="#RequestForPaymentCustUpdate" style="document" />
      <wsdl:input name="RequestForPaymentCustUpdateIn">
        <soap:header message="tns:RequestForPaymentCustUpdateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RequestForPaymentCustUpdateOut">
        <soap:header message="tns:RequestForPaymentCustUpdateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InstallmentDetails_Create">
      <soap:operation soapAction="#InstallmentDetails_Create" style="document" />
      <wsdl:input name="InstallmentDetails_CreateIn">
        <soap:header message="tns:InstallmentDetails_CreateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InstallmentDetails_CreateOut">
        <soap:header message="tns:InstallmentDetails_CreateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InstallmentDetails_Dispose">
      <soap:operation soapAction="#InstallmentDetails_Dispose" style="document" />
      <wsdl:input name="InstallmentDetails_DisposeIn">
        <soap:header message="tns:InstallmentDetails_DisposeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InstallmentDetails_DisposeOut">
        <soap:header message="tns:InstallmentDetails_DisposeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InstallmentDetails_CalculateInstallmentData">
      <soap:operation soapAction="#InstallmentDetails_CalculateInstallmentData" style="document" />
      <wsdl:input name="InstallmentDetails_CalculateInstallmentDataIn">
        <soap:header message="tns:InstallmentDetails_CalculateInstallmentDataIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InstallmentDetails_CalculateInstallmentDataOut">
        <soap:header message="tns:InstallmentDetails_CalculateInstallmentDataOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CalcWithholdingTaxBalance_Create">
      <soap:operation soapAction="#CalcWithholdingTaxBalance_Create" style="document" />
      <wsdl:input name="CalcWithholdingTaxBalance_CreateIn">
        <soap:header message="tns:CalcWithholdingTaxBalance_CreateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CalcWithholdingTaxBalance_CreateOut">
        <soap:header message="tns:CalcWithholdingTaxBalance_CreateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CalcWithholdingTaxBalance_Dispose">
      <soap:operation soapAction="#CalcWithholdingTaxBalance_Dispose" style="document" />
      <wsdl:input name="CalcWithholdingTaxBalance_DisposeIn">
        <soap:header message="tns:CalcWithholdingTaxBalance_DisposeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CalcWithholdingTaxBalance_DisposeOut">
        <soap:header message="tns:CalcWithholdingTaxBalance_DisposeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance">
      <soap:operation soapAction="#CalcWithholdingTaxBalance_CalculateWithholdingTaxBalance" style="document" />
      <wsdl:input name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceIn">
        <soap:header message="tns:CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceOut">
        <soap:header message="tns:CalcWithholdingTaxBalance_CalculateWithholdingTaxBalanceOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SplitVAT_Create">
      <soap:operation soapAction="#SplitVAT_Create" style="document" />
      <wsdl:input name="SplitVAT_CreateIn">
        <soap:header message="tns:SplitVAT_CreateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SplitVAT_CreateOut">
        <soap:header message="tns:SplitVAT_CreateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SplitVAT_Dispose">
      <soap:operation soapAction="#SplitVAT_Dispose" style="document" />
      <wsdl:input name="SplitVAT_DisposeIn">
        <soap:header message="tns:SplitVAT_DisposeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SplitVAT_DisposeOut">
        <soap:header message="tns:SplitVAT_DisposeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SplitVAT_VATDescendingRate">
      <soap:operation soapAction="#SplitVAT_VATDescendingRate" style="document" />
      <wsdl:input name="SplitVAT_VATDescendingRateIn">
        <soap:header message="tns:SplitVAT_VATDescendingRateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SplitVAT_VATDescendingRateOut">
        <soap:header message="tns:SplitVAT_VATDescendingRateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AP_ARComponents">
    <wsdl:port name="AP_ARComponentsSoap" binding="tns:AP_ARComponentsSoap">
      <soap:address location="http://usr-rinaldiand:10050/ERP.AP_AR.Components/AP_ARComponents" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>