PurchaseDocJE-AP_AR/Web References/AP_AR_Components/ERP0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.InstallmentDetails_CalculateInstallmentData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="PymtCode" nillable="true" type="xs:string" />
  <xs:element name="Currency" nillable="true" type="xs:string" />
  <xs:element name="FromDate" nillable="true" type="xs:string" />
  <xs:element name="Total" type="xs:double" />
  <xs:element name="TaxTotal" type="xs:double" />
  <xs:element name="InstallmentNo" type="xs:int" />
  <xs:element name="InstallmentDate" nillable="true" type="xs:string" />
  <xs:element name="InstallmentPaymentType" type="xs:int" />
  <xs:element name="InstallmentAmount" type="xs:double" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>