PurchaseDocJE-AP_AR/Web References/AP_AR_Components/ERP11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBHeaderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBHeaderInfo" nillable="true" type="tns:TBHeaderInfo" />
  <xs:element name="HeaderInfo" nillable="true" type="tns:TBHeaderInfo" />
</xs:schema>