PurchaseDocJE-AP_AR/Web References/AP_AR_Components/ERP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.SplitVAT_VATDescendingRate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="aPymtSchedId" type="xs:int" />
  <xs:element name="aAmount" type="xs:double" />
  <xs:element name="aCollPymtDate" nillable="true" type="xs:string" />
  <xs:element name="aAmountType" type="xs:int" />
  <xs:element name="return" type="xs:double" />
</xs:schema>